//BG
$BG: #000000;

//主色
$mainColor: #b8151b;
$mainColor_2: #000000;
$mainColor_3: #ffffff;
$mainColor_4: #414141;
$mainColor_5: #851316;
$mainColor_6: #dd2830;

$subColor: #f3c01a;
$subColor_2: #ffe17e;
$subColor_3: #313131ce;
$subColor_4: #27a7f0;
$subColor_5: #b1b1b1;
$subColor_6: #66e123;
$subColor_7: #ff9b9f;
$subColor_8: #280606;
$subColor_9: #848484;

//主背景色
$mainBG_1: #b61d21;
$mainBG_2: #292929;

//header
$header_bottom_BG: #f3c01a;
@mixin headerBtn {
    background: #f3c01a;
    border-radius: 30px;
    box-shadow: 0 3px 0 1px #ec992c;
    color: #b61d21;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s all;

    &:hover,&:active,&.active {
        background: #ffffff;
        transform: translateY(2px);
        box-shadow: none;
    }
}
$headerBtn_secondBG: #ffffff;

//right
$rightNav_bottom_BG: #cb3539;
$rightNav_bottom_Color: #eca3a6;
$rightNav_bottom_ActiveColor: #851316;
@mixin rightNavBtn {
    background: #cf0505;
    border-radius: 30px;
    box-shadow: 0 3px 0 1px #b61d21;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s all;

    &:hover,&:active,&.active {
        transform: translateY(2px);
        box-shadow: none;
    }
}

//register
$register_BG: #1f1f1f;

//jumpWindow
$filter: #00000080;

//button
@mixin buttonStyle_1 {
    background: $mainColor_6;
    color: $mainColor_3;
    border-radius: 50px;
}

//input
@mixin inputStyle_1 {
    background: #ffffff;
    border-radius: 3px;
    border: none;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}

@mixin inputStyle_2 {
    background: $subColor_8;
    border: 1px solid $mainColor_6;
    border-radius: 30px;
    color: $mainColor_3;
    padding: 0 10px;

    &::placeholder {
        color: $mainColor_6;
    }
}

//共用
@mixin checkboxStyle_1 {
    position: relative;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        border: solid 2px #36424b;
        border-radius: 50%;
    }

    &::after {
        display: none;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 60%;
        height: 60%;
        background: #36424b;
        border-radius: 50%;
    }

    &.active {

        &::after {
            display: block;
        }
    }
}

@mixin bigtitle_Line {
    color: $subColor;
    font-size: 1.3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    padding: 0 0 15px;
    position: relative;
    
    &::before {
        content: "";
        width: 30%;
        height: 5px;
        background: $mainColor_5;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;
    }

    &::after {
        content: "";
        width: 100%;
        height: 5px;
        background: $mainColor;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

@mixin bottomList {
    display: none;
    background: #ffffff;
    border-radius: 3px;
    padding: 10px;

    &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 4px 6px 4px;
        border-color: #ffffff transparent;
        position: absolute;
        top: -6px;
        right: 10px;
    }

    &.display {
        display: block;
    }
}

@mixin textHide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


@mixin betRecordBtn {
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #ae2b2b 0%, #cd3535 100%);
    border: 3px solid #ffffff;
    border-radius: 50px;
}

@mixin scrollbarStyle_1 {
    
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: #b61d21;
        border-radius: 30px;
    }

    &::-webkit-scrollbar-track {
        background: #b1b1b1;
        border-radius: 30px;
    }
}