//header
header .top li i {
    background: url('../image/icon/header_ic.png') no-repeat;
    background-size: 500%;
}

//footer
footer .flag.jp {
    background: url("../image/icon/flag/JP.svg") no-repeat center;
    background-size: contain;
}
footer .flag.uk {
    background: url("../image/icon/flag/UK.svg") no-repeat center;
    background-size: contain;
}