//header
header ul li:nth-of-type(1) i {
    background: url(../image/icon/sports.png) no-repeat center;
    background-size: 100%;
}

header ul li:nth-of-type(2) i {
    background: url(../image/icon/casino.png) no-repeat center;
    background-size: 100%;
}

header ul li:nth-of-type(3) i {
    background: url(../image/icon/live-casino.png) no-repeat center;
    background-size: 100%;
}

header ul li:nth-of-type(4) i {
    background: url(../image/icon/promotions.png) no-repeat center;
    background-size: 100%;
}