.center {
    max-width: 1200px;
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    position: relative;

    //左
    .left {
        width: 250px;
        height: auto;
        flex-shrink: 0;
        overflow: hidden;
        transition: all 0.3s;

        &.active {
            width: 100%;
            background: $filter;
            overflow: hidden;
            position: absolute;
            top: -10px;
            left: 0;
            z-index: 90;

            .navTitle {
                width: 250px;
                background: $mainBG_2;
                padding-left: 10px;
            }

            ul {
                width: 250px;
            }
        }

        .navTitle {
            color: $subColor;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 10px 0;
        }

        ul {
            width: 100%;
            height: auto;
            background: $mainBG_2;

            li {
                width: 100%;
                height: 50px;
                overflow: hidden;

                &:hover,&:active {
                        
                    a {
                        transform: translateX(-34px);

                        svg {
                            fill: $subColor;
                        }

                        p {
                            color: $subColor;
                        }
                    }
                }
                &.active {

                    a {
                        
                        svg {
                            fill: $subColor;
                        }

                        p {
                            color: $subColor;
                        }
                    }
                }

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    transition: 0.3s all;
                    padding: 0 10px;

                    svg {
                        width: 24px;
                        height: 24px;
                        fill: $subColor_5;
                        margin-right: 10px;
                    }

                    p {
                        color: $subColor_5;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    //中
    .mainArea {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        overflow: hidden;

        .searchBox {
            display: none;
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
            position: relative;

            input {
                width: 100%;
                height: 100%;
                background: $subColor_8;
                border: 2px solid $mainColor_6;
                border-radius: 30px;
                color: $mainColor_3;
                font-size: 0.9rem;
                padding: 0 10px;
            }

            i {
                width: 5vw;
                height: 5vw;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }
        }

        .swiper {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;

            .swiper-wrapper {
                width: 100%;
                height: auto;

                .swiper-slide {
                    .banner {
                        width: 100%;
                    }
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                position: absolute;
                top: 45px;
                left: unset;
                &::before,
                &::after {
                    content: " ";
                }
            }
            .swiper-button-prev {
                width: 30px;
                height: 30px;
                position: absolute;
                cursor: pointer;
                
                &::before {
                    content: "";
                    width: 30px;
                    height: 30px;
                    border-radius: 50px;
                    border: 2px solid $mainColor_3;
                    position: absolute;
                    right: -485px;
                    z-index: 50;
                }

                i {
                    font-size: 20px;
                    color: $mainColor_3;
                    position: absolute;
                    top: 5px;
                    left: unset;
                    right: -474px;
                    z-index: 50;
                }
            }

            .swiper-button-next {
                position: absolute;
                cursor: pointer;

                &::before {
                    width: 30px;
                    height: 30px;
                    border-radius: 50px;
                    border: 2px solid $mainColor_3;
                    position: absolute;
                    top: -2px;
                    right: 13px;
                    z-index: 50;
                }

                i {
                    font-size: 20px;
                    color: $mainColor_3;
                    position: absolute;
                    top: 6px;
                    right: 25px;
                    z-index: 50;
                }
            }
        }

        .middleNav {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .topnav {
                width: 100%;
                height: auto;
                display: flex;
                border-bottom: 4px solid $mainColor;

                li {
                    width: 20%;
                    height: 35px;
                    display: flex;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    background: $mainColor_4;
                    border-radius: 5px 5px 0 0;
                    padding: 0 5px;
                    margin-right: 5px;
                    cursor: pointer;

                    &:hover,&:active,&.active {
                        background: $mainColor;

                        p {
                            color: $mainColor_3;
                        }
                    }

                    p {
                        color: $mainColor_3;
                        font-size: 0.9rem;
                        font-weight: bold;
                        @include textHide;
                    }
                }
            }
        }

        .typselect {

            &.swiper02 {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                padding: 20px 10px;
                overflow: hidden;
                position: relative;

                .swiper-wrapper {
                    width: 100%;
                    height: auto;

                    .swiper-slide {
                        width: 116px !important;

                        .gameTypeBox {
                            width: auto;
                            max-width: 105px;
                            height: auto;
                            border: 3px solid $mainColor_6;
                            border-radius: 6px;
                            padding: 0px 10px 10px;
                            margin: 0 10px 0 0;
                            cursor: pointer;
            
                            &:hover,&:active,&.active {
                                background: $mainColor_6;

                                p {
                                    color: $mainColor_3;
                                }

                                .picBox {
                                    svg {
                                        fill: $mainColor_3;
                                    }
                                }
                            }
            
                            .picBox {
                                width: 105px;
                                height: 85px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin: 0 0 5px;
            
                                svg {
                                    width: 32.5px;
                                    height: 24.5px;
                                    fill: $mainColor_6;
                                    transform: scale(2.5);
                                }
                            }
            
                            p {
                                color: $mainColor_6;
                                font-size: 1rem;
                                font-weight: bold;
                                text-align: center;
                                @include textHide;
                            }
                        }
                    }
                }

                .swiper-button-prev02,
                .swiper-button-next02 {
                    width: 24px;
                    height: 52px;
                    position: absolute;
                    top: 170px;

                    &::before,
                    &::after {
                        content: " ";
                    }
                }

                .swiper-button-prev02 {
                    position: absolute;
                    left: -20px;
                    cursor: pointer;
                    
                    &::before {
                        width: 40px;
                        height: 40px;
                        background: $subColor_3;
                        border-radius: 5px;
                        position: absolute;
                        top: -115px;
                        left: 20px;
                        z-index: 50;
                    }

                    i {
                        font-size: 20px;
                        color: $mainColor_3;
                        position: absolute;
                        top: -105px;
                        left: 31px;
                        z-index: 50;
                    }
                }

                .swiper-button-next02 {
                    position: absolute;
                    right: 20px;
                    cursor: pointer;

                    &::before {
                        width: 40px;
                        height: 40px;
                        background: $subColor_3;
                        border-radius: 5px;
                        position: absolute;
                        top: -115px;
                        right: -20px;
                        z-index: 50;
                    }

                    i {
                        font-size: 20px;
                        color: $mainColor_3;
                        position: absolute;
                        top: -104px;
                        left: 16px;
                        z-index: 50;
                    }
                }
            }
        }

        .countryList {
            width: 100%;
            height: 44px;
            overflow: hidden;

            &.active {
                height: auto;

                .cTitle {
                    i {
                        transform: rotate(90deg);
                    }
                }
            }

            .cTitle {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: $mainBG_1;
                color: $mainColor_3;
                font-size: 0.9rem;
                font-weight: bold;
                padding: 15px 20px;
                margin-bottom: 5px;
                cursor: pointer;

                i {
                    transition: transform 0.3s;
                }
            }

            ul {
                width: 100%;
                height: 34px;
                overflow: hidden;
                
                &.active {
                    height: auto;

                    .smallTitle {
                        i {
                            transform: rotate(90deg);
                        }
                    }
                }

                &:not(:first-child) {
                    margin-top: 5px;
                }

                .smallTitle {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: $mainColor_5;
                    color: $mainColor_3;
                    font-size: 0.9rem;
                    font-weight: bold;
                    padding: 10px 20px;
                    margin-bottom: 5px;
                    cursor: pointer;

                    i {
                        transition: transform 0.3s;
                    }

                }

                li {
                    width: 100%;
                    height: 35px;
                    border-left: 1px solid $mainColor_6;
                    border-right: 1px solid $mainColor_6;

                    &:nth-of-type(1) {
                        border-top: 1px solid $mainColor_6;
                    }

                    &:not(:last-child) {
                        border-bottom: 1px dotted $mainColor_6;
                    }

                    &:last-child {
                        border-bottom: 1px solid $mainColor_6;
                    }

                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 20px;

                        p {
                            color: $mainColor;
                            font-size: 0.9rem;
                            font-weight: bold;
                        }

                        i {
                            color: $mainColor;
                            cursor: pointer;

                            &.fa-solid {
                                color: $subColor;
                            }
                        }
                    }
                }
            }
        }

        .gameContent {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            padding: 20px 0 0;

            .gtypeTitle {
                width: 100%;
                color: $mainColor_6;
                font-size: 1.5rem;
                font-weight: bold;
                padding: 0 0 20px;
                position: relative;

                &::before {
                    content: "";
                    width: 30%;
                    height: 5px;
                    background: $mainColor_5;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 10;
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 5px;
                    background: $mainColor;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }

            .content {
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 20px;
                padding: 20px 0;

                .gBlock {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    border-radius: 5px;

                    .up {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background: $mainColor;
                        border-radius: 8px 8px 0 0;
                        padding: 3px 10px 0;
                        position: relative;

                        &::before {
                            content: "";
                            width: 10px;
                            height: 10px;
                            background: $mainColor;
                            position: absolute;
                            bottom: -8px;
                            left: 0;
                            z-index: -1;
                        }

                        &::after {
                            content: "";
                            width: 10px;
                            height: 10px;
                            background: $mainColor;
                            position: absolute;
                            bottom: -8px;
                            left: unset;
                            right: 0;
                            z-index: -1;
                        }

                        span {
                            flex-shrink: 0;
                            background: $mainColor_5;
                            color: $mainColor_3;
                            font-size: 0.9rem;
                            font-weight: bold;
                            padding: 7px 5px;
                            border-radius: 3px;
                            cursor: default;
                        }

                        .iconBox {
                            width: auto;
                            height: auto;
                            
                            svg {
                                width: 24.5px;
                                height: 24.5px;
                                fill: $mainColor_3;

                                &:first-child {
                                    margin-right: 5px;
                                }
                            }
                        }
                    }

                    .down {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        background: $mainBG_2;
                        border-radius: 8px;
                        border: 3px solid $mainColor;
                        padding: 20px;

                        p {
                            font-weight: bold;

                            &.timeZone {
                                color: $mainColor_3;
                                font-size: 0.8rem;
                                white-space: nowrap;
                                margin-bottom: 10px;
                            }

                            &.date {
                                color: $subColor;
                                font-size: 1.3rem;
                                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                letter-spacing: 1px;
                                padding: 0 0 15px;
                                position: relative;
                                
                                &::before {
                                    content: "";
                                    width: 30%;
                                    height: 5px;
                                    background: $mainColor_5;
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    z-index: 10;
                                }

                                &::after {
                                    content: "";
                                    width: 100%;
                                    height: 5px;
                                    background: $mainColor;
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                }
                            }

                            &.VS {
                                color: $mainColor_3;
                            }

                            &.winner {
                                color: $mainColor_6;
                                text-align: center;
                                margin: 0 0 70px;
                            }
                        }

                        // 時間資訊
                        .infoDetail {
                            width: 100%;
                            height: auto;
                            position: relative;

                            .time {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                margin: 10px 0 0;
                                    
                                svg {
                                    width: 24.5px;
                                    height: 24.5px;
                                    fill: $subColor_5;
                                    margin-right: 5px;
                                    transform: scale(0.9);
                                }

                                p {
                                    color: $subColor_5;
                                    font-size: 0.9rem;
                                }
                            }

                            .more {
                                width: 130px;
                                height: 30px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                @include rightNavBtn;
                                margin: 0 auto;
                                position: absolute;
                                top: 405px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }

                        .pkTeam {
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            background: $mainColor_4;
                            padding: 20px 20px 10px;
                            margin: 30px 0;

                            .outbox {
                                width: 100%;
                                height: auto;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .team {
                                    width: auto;
                                    height: auto;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
    
                                    &:first-child {
                                        svg {
                                            fill: $subColor_4;
                                        }
                                    }
                                   
                                    svg {
                                        width: 48.5px;
                                        height: 48.5px;
                                        fill: $mainColor_6;
                                        margin: 10px 10px 40px 10px;
                                    }
    
                                    .teamName {
                                        color: $mainColor_3;
                                        font-size: 0.9rem;
                                        text-align: center;
                                        margin-bottom: 30px;
                                    }
    
                                    button {
                                        width: 100%;
                                        background: $mainColor_6;
                                        color: $mainColor_3;
                                        font-weight: bold;
                                        border-radius: 3px;
                                        padding: 5px;
                                    }
                                }
    
                                p {
                                    display: flex;
                                    align-items: center;
                                }
                            }

                            .winRWD {
                                display: none;
                                color: $mainColor_6;
                                text-align: center;
                                margin: 20px 0 0;
                            }
                        }
                    }
                }
            }
        }

        .swiper03 {
            width: 100%;
            height: auto;
            overflow: hidden;
            position: relative;

            .swiper-wrapper {
                width: 100%;
                height: auto;
                display: flex;

                .swiper-slide {
                    width: auto !important;

                    .gBlock {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        border-radius: 5px;
    
                        .up {
                            width: 100%;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            background: $mainColor;
                            border-radius: 8px 8px 0 0;
                            padding: 3px 10px 0;
                            position: relative;
    
                            &::before {
                                content: "";
                                width: 10px;
                                height: 10px;
                                background: $mainColor;
                                position: absolute;
                                bottom: -8px;
                                left: 0;
                                z-index: -1;
                            }
    
                            &::after {
                                content: "";
                                width: 10px;
                                height: 10px;
                                background: $mainColor;
                                position: absolute;
                                bottom: -8px;
                                left: unset;
                                right: 0;
                                z-index: -1;
                            }
    
                            span {
                                flex-shrink: 0;
                                background: $mainColor_5;
                                color: $mainColor_3;
                                font-size: 0.9rem;
                                font-weight: bold;
                                padding: 7px 5px;
                                border-radius: 3px;
                                cursor: default;
                            }
    
                            .iconBox {
                                width: auto;
                                height: auto;
                                
                                svg {
                                    width: 24.5px;
                                    height: 24.5px;
                                    fill: $mainColor_3;
    
                                    &:first-child {
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
    
                        .down {
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            background: $mainBG_2;
                            border-radius: 8px;
                            border: 3px solid $mainColor;
                            padding: 20px;
    
                            p {
                                font-weight: bold;
    
                                &.timeZone {
                                    color: $mainColor_3;
                                    font-size: 0.8rem;
                                    white-space: nowrap;
                                    margin-bottom: 10px;
                                }
    
                                &.date {
                                    color: $subColor;
                                    font-size: 1.3rem;
                                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                    letter-spacing: 1px;
                                    padding: 0 0 15px;
                                    position: relative;
                                    
                                    &::before {
                                        content: "";
                                        width: 30%;
                                        height: 5px;
                                        background: $mainColor_5;
                                        position: absolute;
                                        left: 0;
                                        bottom: 0;
                                        z-index: 10;
                                    }
    
                                    &::after {
                                        content: "";
                                        width: 100%;
                                        height: 5px;
                                        background: $mainColor;
                                        position: absolute;
                                        left: 0;
                                        bottom: 0;
                                    }
                                }
    
                                &.VS {
                                    color: $mainColor_3;
                                }
    
                                &.winner {
                                    color: $mainColor_6;
                                    text-align: center;
                                    margin: 0 0 70px;
                                }
                            }
    
                            // 時間資訊
                            .infoDetail {
                                width: 100%;
                                height: auto;
                                position: relative;
    
                                .time {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    margin: 10px 0 0;
                                        
                                    svg {
                                        width: 24.5px;
                                        height: 24.5px;
                                        fill: $subColor_5;
                                        margin-right: 5px;
                                        transform: scale(0.9);
                                    }
    
                                    p {
                                        color: $subColor_5;
                                        font-size: 0.9rem;
                                    }
                                }
    
                                .more {
                                    width: 130px;
                                    height: 30px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    @include rightNavBtn;
                                    margin: 0 auto;
                                    position: absolute;
                                    top: 405px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                            }
    
                            .pkTeam {
                                width: 100%;
                                height: auto;
                                display: flex;
                                flex-direction: column;
                                background: $mainColor_4;
                                padding: 20px 20px 10px;
                                margin: 30px 0;
    
                                .outbox {
                                    width: 100%;
                                    height: auto;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
    
                                    .team {
                                        width: auto;
                                        height: auto;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
        
                                        &:first-child {
                                            svg {
                                                fill: $subColor_4;
                                            }
                                        }
                                       
                                        svg {
                                            width: 48.5px;
                                            height: 48.5px;
                                            fill: $mainColor_6;
                                            margin: 10px 10px 40px 10px;
                                        }
        
                                        .teamName {
                                            color: $mainColor_3;
                                            font-size: 0.9rem;
                                            text-align: center;
                                            margin-bottom: 30px;
                                        }
        
                                        button {
                                            width: 100%;
                                            background: $mainColor_6;
                                            color: $mainColor_3;
                                            font-weight: bold;
                                            border-radius: 3px;
                                            padding: 5px;
                                        }
                                    }
        
                                    p {
                                        display: flex;
                                        align-items: center;
                                    }
                                }
    
                                .winRWD {
                                    display: none;
                                    color: $mainColor_6;
                                    text-align: center;
                                    margin: 20px 0 0;
                                }
                            }
                        }
                    }
                }
            }

                .swiper-button-prev03,
                .swiper-button-next03 {
                    position: absolute;

                    &::before,
                    &::after {
                        content: " ";
                    }
                }

                .swiper-button-prev03 {
                    position: absolute;
                    left: -20px;
                    cursor: pointer;
                    
                    &::before {
                        width: 40px;
                        height: 40px;
                        background: $subColor_3;
                        border-radius: 5px;
                        position: absolute;
                        top: -280px;
                        left: 20px;
                        z-index: 50;
                    }

                    i {
                        font-size: 20px;
                        color: $mainColor_3;
                        position: absolute;
                        top: -270px;
                        left: 33px;
                        z-index: 50;
                    }
                }

                .swiper-button-next03 {
                    position: absolute;
                    right: 20px;
                    cursor: pointer;

                    &::before {
                        width: 40px;
                        height: 40px;
                        background: $subColor_3;
                        border-radius: 5px;
                        position: absolute;
                        top: -280px;
                        right: -20px;
                        z-index: 50;
                    }

                    i {
                        font-size: 20px;
                        color: $mainColor_3;
                        position: absolute;
                        top: -270px;
                        right: -8px;
                        z-index: 50;
                    }
                }
        }
    }

    //右
    .right {
        width: 300px;
        height: auto;
        flex-shrink: 0;
        overflow: hidden;

        &.active {
            width: 100%;
            height: auto;
            background: transparent;
            position: absolute;
            top: -10px;
            left: 0;
            z-index: 90;

            .betBlock {
                width: 100%;
                height: 100%;
                border-radius: 0;

                .smallFilter {
                    height: calc(100% - 47px);
                }

                .closeLeft {
                    display: flex;
                }
            }
        }

        .betBlock {
            width: 100%;
            height: auto;
            background: $mainBG_1;
            border-radius: 10px;
            position: relative;
            overflow: hidden;

            .topList {
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: space-between;

                li {
                    width: auto;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    padding: 0 5px;

                    &::before {
                        display: none;
                        content: "";
                        width: 100%;
                        height: 2px;
                        background: $subColor_2;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }

                    &:hover,&:active,&.active {

                        &::before {
                            display: block;
                        }

                        p {
                            color: $subColor_2;
                        }
                    }
                    
                    p {
                        color: $mainColor_3;
                        font-size: 0.875rem;
                        font-weight: bold;
                    }
                }
            }

            .betTypeList {
                width: 100%;
                height: auto;
                background: $rightNav_bottom_BG;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 5px;

                li {
                    width: auto;
                    height: auto;

                    &:hover,&:active,&.active {

                        a {
                            
                            p {
                                color: $rightNav_bottom_ActiveColor;
                            }
                        }
                    }

                    a {
                        width: auto;
                        height: 40px;
                        display: flex;
                        align-items: center;

                        p {
                            color: $rightNav_bottom_Color;
                            font-size: 1rem;
                            font-weight: bold;
                        }
                    }
                }
            }

            .betContent {
                width: 100%;
                height: auto;
                min-height: 275px;
                
                .noData {
                    display: none;
                    width: 100%;
                    height: auto;

                    &.display {
                        display: block;
                    }

                    p {
                        color: $mainColor_3;
                        font-size: 0.75rem;
                        font-weight: bold;
                        text-align: center;
                        margin: 30px 0;
                    }
                }
            }

            .smallFilter {
                width: 100%;
                height: 100%;
                background: $filter;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    width: 150px;
                    height: 40px;
                    @include rightNavBtn;
                }
            }

            .closeLeft {
                display: none;
                width: 100%;
                height: 47px;
                align-items: center;
                justify-content: center;
                background: $mainColor;
                cursor: pointer;

                p {
                    color: $mainColor_3;
                    font-size: 0.8rem;
                    cursor: pointer;
                }
            }
        }
    }

    //aside
    aside {

        &.betRecordBtn {
            display: none;
            width: 75px;
            height: 75px;
            @include betRecordBtn;
            position: fixed;
            bottom: 30px;
            right: 30px;
            z-index: 99;
            cursor: pointer;

            .betCount {
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $subColor_6;
                border-radius: 50px;
                position: absolute;
                right: -8px;

                &:nth-of-type(1) {
                    top: 5px;

                    p {
                        color: $mainColor_2;
                    }
                }

                &:nth-of-type(2) {
                    background: $mainColor_5;
                    bottom: 5px;
                }

                p {
                    color: $mainColor_3;
                }
            }
        }
    }

    @media only screen and (max-width: 1091px) {
        .mainArea {
            .gameContent {
                
                .content {

                    .gBlock {

                        .down {
                            .pkTeam {
                                padding: 1.5rem 0.8rem;

                                .team {

                                    svg {
                                        width: 39.5px;
                                        margin: 8px 10px 20px 10px;
                                    }

                                    .teamName {
                                        font-size: 0.8rem;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1052px) {
        .mainArea {
            .gameContent {
                .content {

                    .gBlock {

                        .down {
                            .pkTeam {

                                .team {

                                    svg {
                                        width: 35.5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        
        .left {
            width: 0;
        }
        
    }

    @media only screen and (max-width: 767px) {
        
        .mainArea {

            .gameContent {

                .content {
                    grid-template-columns: repeat(1,1fr);

                    .gBlock {
                        
                        .down {
                            flex-direction: row;
                            padding: 1rem;

                            .infoDetail {
                                width: 49%;
                                height: 100%;
                                order: 1;

                                .more {
                                    margin: 20px auto 0;
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    transform: translateX(0);
                                }
                            }

                            .pkTeam {
                                width: 50%;
                                height: 100%;
                                order: 0;
                                margin: 0 25px 0 0;

                                .team {
                                    svg {
                                        width: 49.5px;
                                    }
                                }

                                .winRWD {
                                    display: block;
                                }
                            }

                            .winner {
                                display: none;
                            }
                        }
                        
                    }
                }
            }

            .swiper03 {

                .swiper-wrapper {

                    .swiper-slide {
                        width: 100% !important;

                        .gBlock {

                            .down {
                                flex-direction: row;
                                padding: 1rem;

                                .infoDetail {
                                    width: 49%;
                                    height: 100%;
                                    order: 1;

                                    .more {
                                        margin: 20px auto 0;
                                        position: relative;
                                        top: 0;
                                        left: 0;
                                        transform: translateX(0);
                                    }
                                }

                                .pkTeam {
                                    width: 50%;
                                    height: 100%;
                                    order: 0;
                                    margin: 0 25px 0 0;

                                    .winRWD {
                                        display: block;
                                    }
                                }

                                .winner {
                                    display: none;
                                }
                            }
                            
                        }
                    }
                }

                .swiper-button-prev03,
                .swiper-button-next03 {
                        
                    &::before {
                        top: -170px;
                    }

                    i {
                        top: -160px;
                    }
                }
            }
        }

        .right {
            width: 0;
        }
        
        aside {
            &.betRecordBtn {
                display: flex;
            }
        }
    }

    @media only screen and (max-width: 450px) {
        .mainArea {
            padding: 20px;

            .searchBox {
                display: flex;
            }

            .swiper {
                display: none;
            }

            .middleNav {

                .topnav {

                    li {
                        width: calc(95.7% / 4);
                    }
                }
            }

            .gameContent {
                .content {
                    .gBlock {
    
                        .down {
                            justify-content: space-between;
        
                            .infoDetail {
                                width: 44%;
                            }
        
                            .pkTeam {
                                width: 52%;
                                margin-right: 0;

                                .outbox {

                                    .team {

                                        svg {
                                            margin: 0 0 40px;
                                        }
                                    }

                                    .VS {
                                        margin: 0 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        aside {
            &.betRecordBtn {
                bottom: 85px;
                right: 20px;
            }
        }
    }
}

    
