html {
    width: 100%;
    height: auto;
    background: $BG;

    body {
        width: 100%;
        height: auto;

        main {
            width: 100%;
            height: auto;
            padding-top: 125px;

            &.memberPage {
                padding-top: 90px;
            }
        }

        @media only screen and (max-width: 1020px) {
            main {
                padding-top: 100px;
            }
        }

        @media only screen and (max-width: 450px) {
            main {

                &.inMain {
                    padding-top: 50px;
                }

                padding-top: 0px;
            }
        }
    }

    @import "./header";
    @import "./login";
    @import "./register";
    @import "./mainWrap";
    @import "./memberPage";
    @import "./betPage";
    @import "./footer";
}