html {
    width: 100%;
    height: auto;
    background: $BG;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 

    body {
        width: 100%;
        height: auto;

        main {
            width: 100%;
            height: auto;
            padding-top: 125px;

            &.innerPage {
                padding-top: 120px;

                .left {
                    display: none;
                }
            }
        }
    }

    @import "./header";
    @import "./login";
    @import "./register";
    @import "./memberPage";
    @import "./betPage";
    @import "./servicePage";
    @import "./message";
    @import "./mainWrap";
    @import "./footer";
    @import "./rwd";

    @media only screen and (max-width: 1024px) {

        body {

            main {
                padding-top: 100px;

                &.innerPage {

                    .left {
                        display: block;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 450px) {
        font-size: 4vw;
        
        body {

            main {
                //手機版未登入
                padding-top: 0px;
    
                //手機版已登入
                &.inMain {
                    padding-top: 50px;
    
                    .mainArea {
    
                        .searchBox {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}

