html {
    width: 100%;
    height: auto;
    background: $BG;

    body {
        width: 100%;
        height: auto;

        main {
            width: 100%;
            height: auto;
            padding-top: 125px;
        }

        @media only screen and (max-width: 1020px) {
            main {
                padding-top: 100px;
            }
        }
    }

    @import "./header";
    @import "./login";
    @import "./register";
    @import "./mainWrap";
    @import "./footer";
}