.overViewPage {

    //中
    .mainArea {
        
        .contentBox {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .pageTitle {
                @include bigtitle_Line;
                width: 100%;
                margin-bottom: 50px;
            }
            
            .overview {
                width: 90%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $mainColor_4;
                padding: 50px;
                
                table {
                    width: 100%;
                    height: auto;

                    tr {
                        &:last-child {
                            border-top: 1px solid $mainColor_8;

                            td {

                                &:first-child {

                                    p {
                                        text-align: right;
                                    }
                                }

                                p {
                                    line-height: 40px;
                                }
                            }
                        }
                    
                        td {
                            width: 15%;

                            &:not(:first-child) {
                                p {
                                    text-align: right;
                                }
                            }

                            &:first-child {
                                width: 70%;
                                p {
                                    padding: 0 10px;
                                }
                            }

                            &:last-child {
                                
                                p {
                                    padding: 0 10px;
                                }
                            }

                            p {
                                color: $mainColor_8;
                                font-size: 0.9rem;
                                line-height: 40px;
                                padding: 0 5px;
                                @include textHide;
                            }
                        }
                    }
                }
            }

            .myRewrad {
                width: 100%;
                height: auto;
                margin-top: 30px;
                
                .title {
                    background: $mainColor_17;
                    color: $mainColor_15;
                    padding: 20px 5%;
                    margin-bottom: 20px;
                }

                .rewrad_btn {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;

                    button {
                        flex-shrink: 0;
                        background: $mainColor_17;
                        color: $mainColor_8;
                        border-radius: 20px;
                        padding: 10px 20px;

                        &:hover,&:active,&.active {
                            background: $mainColor_6;
                            color: $mainColor_3;
                        }

                        &:first-child {
                            margin-right: 10px;
                        }
                    }
                }

                .reward_stauts {
                    color: $mainColor_3;
                    font-size: 0.8rem;
                    text-align: center;
                }
            }
        }

        .mobile_content {
            display: none;
            width: 100%;
            height: auto;

            .innerBox {
                width: 100%;
                padding: 0 4vw 4vw;
                
                ul {
                    width: 100%;
                    height: auto;
                    padding: 4vw;
                    border-bottom: 1px solid $mainColor_7;

                    li {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        p {
                            color: $mainColor_3;
                            font-size: 1rem;

                            &:last-child {
                                font-size: 1.2rem;
                                font-weight: bold;
                            }
                        }
                    }
                }
                
                .topLine {
                    width: 100%;
                    height: auto;
                    @include mobile_Title;
                }
            }
        }
    }
}

    
